package console

import (
	"github.com/zatrano/framework/v2/contracts"
	coreconsole "github.com/zatrano/framework/v2/console"
)

// Register registers application console commands.
func Register(cli *coreconsole.Application, app contracts.App) {
	_ = app
}
