package api

import (
	apicontrollers "__MODULE__/app/http/controllers/api"

	"github.com/zatrano/framework/kernel/routing"
)

func init() {
	routing.RegisterAPI(registerAPI)
}

func registerAPI(router *routing.Router) {
	if router == nil {
		return
	}

	router.Name("api.", func(r *routing.Router) {
		r.Group("/api", func(r *routing.Router) {
			routing.Controller(r, &apicontrollers.HomeController{}, func(r routing.RouteRegistrar, c *apicontrollers.HomeController) {
				r.Get("/", c.Index).As("home")
			})
		})
	})
}
