package bootstrap

import (
	_ "github.com/zatrano/packages/assets"
	_ "github.com/zatrano/packages/health"
	_ "github.com/zatrano/packages/localization"
	_ "github.com/zatrano/packages/validation"
	_ "github.com/zatrano/packages/view"
)

// Addon blank-imports register providers from github.com/zatrano/packages
// (and in-tree intelligence packages). Maintained by package:enable.
