{{define "navbar"}}
<nav class="app-header navbar navbar-expand bg-body">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                    <i class="bi bi-list"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img src="/images/avatar.svg" class="user-image rounded-circle shadow">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="user-footer d-flex flex-column">
                        <a href="/auth/profile" class="btn btn-default btn-flat mb-1">Profil</a>
                        <a href="/auth/logout" class="btn btn-default btn-flat">Çıkış</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{{end}}