package console

import (
	"github.com/zatrano/framework/contracts"
	coreconsole "github.com/zatrano/framework/console"
)

// Register registers application console commands.
func Register(cli *coreconsole.Application, app contracts.App) {
	_ = app
}
