package console

import (
	"github.com/zatrano/framework/kernel"
	coreconsole "github.com/zatrano/framework/console"
)

// Register registers application console commands.
func Register(cli *coreconsole.Application, app *kernel.Application) {
	_ = app
}
