package web

import "github.com/zatrano/framework/v2/kernel/http"

// HomeController serves the application root as JSON.
type HomeController struct{}

func (c *HomeController) Index(req *http.Request) *http.Response {
	return http.JSON(map[string]any{"name": "__APP_NAME__"})
}
