package bootstrap

import (
	_ "github.com/zatrano/framework/v3/core/ssr"
	_ "github.com/zatrano/packages/health"
)

// Addon blank-imports register providers from github.com/zatrano/packages
// (and framework core/ssr for Canvas). Maintained by package:enable.
